/WebApplication1/Application/bin/
/WebApplication1/Application/obj/
/WebApplication1/BlazorWASM/bin/
/WebApplication1/BlazorWASM/obj/
/WebApplication1/Domain/bin/
/WebApplication1/Domain/obj/
/WebApplication1/FileData/bin/
/WebApplication1/FileData/obj/
/WebApplication1/HttpClients/bin/
/WebApplication1/HttpClients/obj/
/WebApplication1/WebApplication1/bin/
/WebApplication1/WebApplication1/obj/
WebApplication1/UnitTesting/obj/Debug/net7.0/UnitTesting.pdb
WebApplication1/UnitTesting/obj/Debug/net7.0/UnitTesting.dll
WebApplication1/UnitTesting/obj/Debug/net7.0/refint/UnitTesting.dll
WebApplication1/UnitTesting/obj/Debug/net7.0/ref/UnitTesting.dll
WebApplication1/UnitTesting/bin/Debug/net7.0/UnitTesting.pdb
WebApplication1/UnitTesting/bin/Debug/net7.0/UnitTesting.dll
WebApplication1/UnitTesting/obj/UnitTesting.csproj.nuget.g.props
WebApplication1/UnitTesting/obj/UnitTesting.csproj.nuget.dgspec.json
WebApplication1/UnitTesting/obj/rider.project.restore.info
WebApplication1/UnitTesting/obj/project.packagespec.json
WebApplication1/UnitTesting/obj/project.nuget.cache
WebApplication1/UnitTesting/obj/project.assets.json
WebApplication1/UnitTesting/obj/Debug/net7.0/UnitTesting.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/UnitTesting/obj/Debug/net7.0/UnitTesting.csproj.AssemblyReference.cache
WebApplication1/UnitTesting/obj/Debug/net7.0/UnitTesting.assets.cache
WebApplication1/UnitTesting/bin/Debug/net7.0/CoverletSourceRootsMapping
