@page "/CreateRestaurant/{cityid:int}"
@attribute [Authorize("MustBeAdmin")]
@using HttpClients.ClientInterfaces
@using sep3.DTOs
@inject IRestaurantService RestaurantService

<h3>CreateRestaurant</h3>
<div class="form-group field">
        <label>Name:</label>
        <input type="text" @bind="name" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultmsg))
        {
            <label style="color: @color">@resultmsg</label>
        }
        <label>Description:</label>
        <input type="text" @bind="desc" @bind:event="oninput"/>
        <label>ImageURL::</label>
        <input type="text" @bind="imageurl" @bind:event="oninput"/>
        
    
    </div>
<div class="button-row">
    <button @onclick="Create" class="acceptbtn">Create</button>
</div>

@code {

    [Parameter]
    public int cityid { get; set; }

    private string name = "kfc";
    private string desc = "fingerlickingood";
    private string imageurl = "chickentender";
    private string resultmsg;
    private string color = "";

    private async Task Create()
    {
        try
        {
            await RestaurantService.CreateRestaurant(new RestaurantCreationDto(name, desc, imageurl, cityid));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultmsg = e.Message;
            color = "red";
            throw;
        }
    }

}