@page "/OpenCityHotels/{cityid:int}"
@using SEP3lu
@using HttpClients.ClientInterfaces
@inject IHotelService HotelService
@inject NavigationManager NavMgr
<h3>Hotels</h3>
<button @onclick="@((() => NavMgr.NavigateTo($"/OpenCity/{cityid}")))" class="acceptbtn">Go back</button>
@if (hotels == null)
{
    <span>Loading..</span>
}
else if (!hotels.Any())
{
    <span>No Hotels found</span>
}
else
{
    <div>
        @foreach (Hotel hotel in hotels)
        {
            <div class="container" @onclick="@((() => NavMgr.NavigateTo($"/OpenHotel/{cityid}/{hotel.Id}")))">
                <img src=@hotel.ImageURL height=80% width=80%/>
                <div class="centered">@hotel.Name</div>
            </div>
            <br/>
        }
        <AuthorizeView Policy="MustBeAdmin">
            <div class="user-card" @onclick="@((() => NavMgr.NavigateTo($"/CreateHotel/{cityid}")))">
                <label>Create Hotel</label>
            </div>
        </AuthorizeView>
    </div>
}

@code {
    [Parameter]
    public int cityid { get; set; }
    
    private IEnumerable<Hotel> hotels;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {

            hotels = await HotelService.getHotels(cityid);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  
  background-color: black;
  display: inline;
  padding: 0.5rem;
    
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  
  opacity: 0.8;
}



</style>