@page "/OpenCityParks/{cityid:int}"
@using SEP3lu
@using HttpClients.ClientInterfaces
@inject IParkService ParkService
@inject NavigationManager NavMgr
<h3>Parks</h3>
<button @onclick="@((() => NavMgr.NavigateTo($"/OpenCity/{cityid}")))" class="acceptbtn">Go back</button>
@if (parks == null)
{
    <span>Loading..</span>
}
else if (!parks.Any())
{
    <span>No Parks found</span>
}
else
{
    <div>
        @foreach (Park park in parks)
        {
            <div class="container" @onclick="@((() => NavMgr.NavigateTo($"/OpenPark/{cityid}/{park.Id}")))">
                <img src=@park.ImageURL height=80% width=80%/>
                <div class="centered">@park.Name</div>
            </div>
        }
        <AuthorizeView Policy="MustBeAdmin">
            <div class="user-card" @onclick="@((() => NavMgr.NavigateTo($"/CreatePark/{cityid}")))">
                <label>Create Park</label>
            </div>
        </AuthorizeView>
    </div>
}

@code {
    [Parameter]
    public int cityid { get; set; }
    
    private IEnumerable<Park> parks;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {

            parks = await ParkService.getParks(cityid);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  
  background-color: black;
  display: inline;
  padding: 0.5rem;
    
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  
  opacity: 0.8;
}



</style>