@page "/OpenCityMuseums/{cityid:int}"
@using SEP3lu
@using HttpClients.ClientInterfaces
@inject IMuseumService MuseumService
@inject NavigationManager NavMgr
<h3>Museums</h3>
<button @onclick="@((() => NavMgr.NavigateTo($"/OpenCity/{cityid}")))" class="acceptbtn">Go back</button>
@if (museums == null)
{
    <span>Loading..</span>
}
else if (!museums.Any())
{
    <span>No Museums found</span>
}
else
{
    <div>
        @foreach (Museum museum in museums)
        {
            <div class="container" @onclick="@((() => NavMgr.NavigateTo($"/OpenMuseum/{cityid}/{museum.Id}")))">
                <img src=@museum.ImageURL height=80% width=80%/>
                <div class="centered">@museum.Name</div>
            </div>
            <br/>
        }
        <AuthorizeView Policy="MustBeAdmin">
            <div class="user-card" @onclick="@((() => NavMgr.NavigateTo($"/CreateMuseum/{cityid}")))">
                <label>Create Museum</label>
            </div>
        </AuthorizeView>
    </div>
}

@code {
    [Parameter]
    public int cityid { get; set; }
    
    private IEnumerable<Museum> museums;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {

            museums = await MuseumService.getMuseums(cityid);

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  
  background-color: black;
  display: inline;
  padding: 0.5rem;
    
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  
  opacity: 0.8;
}



</style>