@page "/ViewCities"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject NavigationManager NavMgr
@inject ICityService cityService

<h3>ViewCities</h3>
@if (cities == null)
{
    <span>Loading..</span>
}
else if (!cities.Any())
{
    <span>No cities found</span>
}
else
{
    <div>
        @foreach (City city in cities)
        {
            <div class="container" @onclick="@((() => NavMgr.NavigateTo($"/OpenCity/{city.Id}")))" >
                <img src=@city.ImageURL height=80% width=80%/>
                <div class="centered">@city.Name</div>
            </div>
        }
                
    </div>
}
@code {
    private IEnumerable<City> cities;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            cities = await cityService.getCities("getall");
            int stpher = 0;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}

<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  
  background-color: black;
  display: inline;
  padding: 0.5rem;
    
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  
  opacity: 0.8;
}



</style>